[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "4.0"
psycopg2 = "2.9.3"
django-s3-sqlite = "0.0.5"
boto3 = "*"

[dev-packages]
factory-boy = "==3.2.1"

[requires]
python_version = "3.9"
